<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="smarttrashcan">

    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="smarttrashcan.accion_CambieBolsa"
            android:parentActivityName="smarttrashcan.MenuAcciones"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="smarttrashcan.MenuAcciones" />
        </activity>
        <activity
            android:name="smarttrashcan.accion_CerrarBolsa"
            android:parentActivityName="smarttrashcan.MenuAcciones"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="smarttrashcan.MenuAcciones" />
        </activity>
        <activity
            android:name="smarttrashcan.accion_ModoJuego"
            android:parentActivityName="smarttrashcan.MenuAcciones"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="smarttrashcan.MenuAcciones" />
        </activity>
        <activity
            android:name="smarttrashcan.accion_ConfigurarPesoMaximo"
            android:parentActivityName="smarttrashcan.MenuAcciones"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="smarttrashcan.MenuAcciones" />
        </activity>
        <activity
            android:name="smarttrashcan.accion_ObtenePesoActual"
            android:parentActivityName="smarttrashcan.MenuAcciones"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="smarttrashcan.MenuAcciones" />
        </activity>
        <activity
            android:name="smarttrashcan.MenuAcciones"
            android:parentActivityName="smarttrashcan.MainActivity"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="smarttrashcan.MainActivity" />
        </activity>
        <activity
            android:name="smarttrashcan.DispositivosBluetooth"
            android:label="Dispositivos bluetooth"
            android:parentActivityName="smarttrashcan.MainActivity"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="smarttrashcan.MainActivity" />
        </activity>
        <activity
            android:name="smarttrashcan.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>